/* Colors */

body{
	background:#a9dcff;
}

.panel h1, .popup h1{
	background:#e3343f;
    color: #fff;
}

.panel, .popup {
	color: #333;
}

a.close span {
	color: #72695B;
}

a.postshare span {
	/*color: #F5F2ED;*/
}


.panel {
	background: #fff;

}

.popup {
	background:#F5F2ED;
	border: solid 5px #333;
}

.panel .linearlist li, .popup .linearlist li {
	background:#fff;
	border-bottom: solid 1px #ccc;
}

.panel .linearlist li.bought{
	background:#dedede;
}

.panel .linearlist li .produrl span, .popup .linearlist li .produrl span{
	color:#999;
}

.panel .linearlist li .detail-btn{
	color:#999;
}

.panel .linearlist li a, .popup .linearlist li a{
	color:#333;
}

.panel .linearlist li .prodname span{
	color:#777;
}

.panel .linearlist li .button{
	background:transparent;
	color:#444;
}

.panel .linearlist li .button.buy{
	/*color:#4eb94b;*/
}

.panel .linearlist li .button.buy span{
	background:#4eb94b;
}

.panel .linearlist li .button.gotit{
	/*color:#ff6666;*/
}

.panel .linearlist li .button.gotit span{
	background:#ff6666;
	background: #e3343f;
}

.panel .linearlist li .button span{
	background:#666;
	color:#fff;
}

.panel .linearlist li .button.buy span{
	color:#fff;
}

@media only screen
	and (max-width : 800px) {
	/* Styles */

	body{
		/*background:#fff;*/
	}
}
