.container .content{
  margin-bottom: 0px;
}

.container .content .screenshot{
	width:100%;
    border:solid 3px #fff;
}

.container.summer .content .screenshot{
    border:none;
}

.container .content .vizor{
	background: rgba(0,0,0,0.8);
    padding: 10px;
    width: 75%;
    margin: 0% 10%;
    border-radius: 20px;
}

.container .content p{
  margin: 0px 15px;
  text-align: justify;
  font-size: 14px;
  line-height: 1.9em;
  color:#000000;
}

.container.summer .content .mooring{
    position:relative;
    padding-bottom:25%;
}

.container.summer .content .floater{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.container.hohoho .content *,
.container.summer .content *,
.container.space .content *{
	color:#fff;
}

.container.princess .content *{
    color: #0077b3;
}

.container.space p{
	text-align:center;
}

.container .content p.copy-index{
        font-size: 24px;
    text-align: center;
    line-height: 3em;
    margin-top: 0px;
    /* font-weight: bold; */
    font-family: 'Open Sans';
}

.container .content p a{
    color: #000000;
    font-size: 1.45em;
    border-bottom: dotted 1px #666;
    text-decoration: none;
    line-height: 1em;
    /* font-family: 'Open Sans'; */
    font-weight: bold;
}

.container h2{
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    margin: 0px 15px;;
    text-align: left;
    text-transform: capitalize;
	/*font-family: 'Open Sans';*/
}

.container div{
    text-align:center;
}

.container div img{
    position:relative;
    z-index:0;
    border: solid 1px #aaa;
	width: 70%;
	margin-right: 15%;
	margin-bottom: 5px;
}

.container div.storelinks img{
	width:auto;
	margin-right: 0%;
}

.sample{
	border: solid 0px #fcc;
    padding: 10px 20px;
    border-radius: 4px;
    background: rgba(255,255,255,0.7);
    color: #000000;
    font-weight: normal;
    font-size: 12px;
	text-transform: uppercase;
	font-family:'Open Sans';
	margin-top:20px;
	display:inline-block;
}

#fullversion h2{
	text-align: center;
    margin: 30px 0px 10px 0px;
}

#fullversion div img{
    border:none;
}

#fullversion .storelinks {
    margin: 20px 0px 30px 0px;
    height: auto;
    text-align: center;
}

#fullversion .storelinks a img {
    margin-bottom: 5px;
}

#fullversion p{
    text-align: center;
}

@media only screen and (max-width : 768px) {

    .container .content {
        margin: 0% 0%;
    }

    .container .content .screenshot{
        /*display:none;*/
            width: 70%;
        margin: 0px 20% 10% 10%;
    }

    .container .content .create-frame{
         width: 70%;
        padding-bottom: 40%;
            margin: 0% 20% 25% 10%;
    }

    .container .content p {
        margin: 5px 5%;
        width: 80%;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
    }

    .container .content p.copy-index {
        font-size: 14px;
    }

    .container .subhead h2{
        margin: 0px;
        text-align: right;
        line-height: 1.5em;
        font-size: 1em;
    }

    .container a[href='#fullversion'] {
            font-size: 2em;
        margin: -1em 15% 1em 0%;
    }

    .container h2 {
        font-size: 32px;
        margin: 0px 5%;
    }

    .container h3 {
        font-size: 2em;
    }


    .content.pro::before {
        margin-top: 100px;
    }

    .container.summer .content .mooring {
        position: relative;
        padding-bottom: 20px;
    }

    .container.summer .content .floater {
        position: relative;
        top: 50%;
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }

    .container.summer .content .screenshot{
            width: 100%;
        margin: 0%;
    }   


}

@media only screen and (max-height: 500px) {

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .container .content {
        margin: 0% 0%;
    }

    .container .content h2{
        margin-left: -10%;
    }

    .container .content p {
        margin: 5px 0%;
        width: 100%;
        font-size: 10px;
        line-height: 12px;
    }

    .container .content .screenshot {
        width: 100%;
        margin: 0% 0% 25% -10%;
    }

    #head .storelinks {
        min-height: 40px;
        margin: 0px 0% 0px 0%;
        position: relative;
    }

    .container .content .create-frame {
        width: 100%;
        padding-bottom: 80%;
        margin: 0% 0% 25% -10%;
    }

    .hohoho .col5 p, .princess .col5 p, .summer .col4 p{
        margin-left:-10%;
        width:110%;
    }

    .container .content .vizor {
        background: rgba(0,0,0,0.8);
        padding: 10px;
        width: 86.5%;
        margin: 0% 5%;
        border-radius: 20px;
    }

    #fullversion h2 {
        margin: 5px 0px 0px 0px;
        font-size: 24px;
        line-height: 32px;
    }

    #fullversion .storelinks {
        margin: 15px 0px 20px 0px;
    }


}