/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html{
  height:100%;
}

body{
  color:#fff;
  background-color:#e3343f;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.07em;
}

.header{
  width: 100%;
  float: left;
}

.header .sociallinks{
  float:right;
  margin:20px 20px;
}

.header .sociallinks a{
  color:#fff;
  text-decoration:none;
  text-align:center;
  width: 50px;
  font-size: 20px;
}

.content{
  margin-top: 2%;
  margin-bottom: 250px;
}

.container p{
  margin: 20px 15px;
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.2em;
}

.container h3{
  margin: 20px 15px;
  text-align:center;
}

.container .storelinks{
  margin-top: 30px;
  height: 50px;
  text-align: center;
}

.container .storelinks a img{
  margin-bottom: 5px;
}

#logo{
  margin:30px 0px;
  text-align:center;
}

#logo img{
  vertical-align: baseline;
  width:30%;
  margin:auto;
}

#logo span{
  font-size: 3.5em;
  /*font-family: 'Life Savers', cursive;*/
  font-weight: bold;
  display:none;
}

.content p.sample{
  text-align:center;
  width:100%;
  margin: 20px 0px;
}

.sample a{
  font-weight: bold;
  color: #e3343f;
  text-decoration: none;
  background: #fff;
  display: block;
  width: 240px;
  margin: 0px auto;
  padding: 15px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#playstore{
  clear:both;
  width: 135px;
  display: block;
  margin: 0px auto;
}

.container{
  min-height:100%;
}

.colcon{
  margin-bottom:30px;
}


#screenshot{
  width:80%;
  max-width:200px;
  margin:25px 10% 0px 10%;
}


#background{

}

.clouds{
  position:absolute;
  top:-20px;
  left:0%;
  width:100%;
  height:140px;
  background: transparent url('../images/bkg_cloud.png') top center repeat-x;
  z-index:-1;
  overflow:hidden;
  display:none;
}

.clouds .clouds{
  width:120%;
}

.ground{
  position:relative;
  bottom:0%;
  left:0%;
  width:100%;
  height: 300px;
  background: transparent url('../images/bkg_ground.png') bottom center repeat-x;
  z-index:-1;
  overflow:hidden;
  margin-top: -300px;
}

.tree{
  display: block;
  position: relative;
  float:left;
}


#footer{
  position: fixed;
  float:right;
  width: 100%;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  font-family:sans-serif;
}

#footer .policy{
  background: rgba(255,255,255,0.8);
  font-size: 12px;
  color: #333;
  line-height: 12px;
  margin-left: 10px;
  padding: 3px 10px;
  font-weight: bold;
  float: left;
}

#footer a.gz {
  width: auto;
  color: #fff;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  background: rgba(0,0,0,0.8);
  padding: 0px 15px 0px 0px;
  text-decoration: none;
  overflow: hidden;
  margin: 0px 0px;
  display: block;
  float: right;
}

#footer a.gz .badge {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  background: #7cb750;
  line-height: 36px;
  font-family: serif;
  padding: 0px 15px 4px 15px;
  margin: 0px;
}


/* Tablet */
@media only screen
  and (max-width : 800px) {
  /* Styles */


  #footer{
    height: 28px;
  }

  #footer a.gz {
    line-height: 23px;
    font-size: 12px;
    padding: 1px 10px 6px 0px;
  }

  #footer a.gz .badge {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 23px;
    padding: 5px 11px;
  }


}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
