/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:#E4E4E4;
    font-family: 'open_sansbold', sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../images/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:40px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.clearfix{
	clear:both;
}


/*
	App specific styles here
*/

.smooth_zoom_preloader {
		background-image: url(../images/preloader.gif);
	}
	.smooth_zoom_icons {
		background-image: url(../images/icons.png);
	}

html, body{
	/*overflow:hidden;*/
	color:#fff;
	font-size:24px;
}

.pgheader{
  width: 100%;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}

.pgheader .sociallinks{
  float:right;
  margin:20px 20px;
}

.pgheader .sociallinks a{
  color:#5ec2fd;
  text-decoration:none;
  text-align:center;
  width: 55px;
  font-size: 26px;
}

#header{
	position: absolute;
	z-index:4000;
	background: rgba(0,0,0,0.4);
	width: 80%;
	height:50px;
	text-align:center;
	overflow:hidden;
	padding: 10px 10%;
	top:0px;
	right:0px;
  display:none;
}

#container{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}

.headbutton{
	width:50px;
	height:50px;
	background:transparent;
	color:#FFFFB2;
	text-decoration:none;
	margin: 0px 15px 0px 0px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	/*position: absolute;
	top: 10px;
	right: 10px;*/
	position:relative;
	float:right;
}

.panel{
    color:#eee;
	/*position:absolute;
	left:5%;*/
	width:90%;
	min-height:100%;
	background:#FAF6F1;
	padding:0px;
	display: none;
	margin: 50px auto;
}

.panel h1{
	display: block;
	width:100%;
	font-weight: normal;
	line-height: 48px;
	padding: 25px 0px;
	text-transform: uppercase;
	font-size: 36px;
	/*margin-top:70px;*/
	background:#999;
	color:#eee;
	font-weight:bold;
	padding: 15px 0px 5px 0px;
}

.panel .header{
  width:100%;
  height:200px;
  background-color:#efe;
}

.panel .header a{
  float:right;
  width:200px;
  height:100%;
  background-color:rgba(255,255,255,0.8);
}

.panel .header a, #header.header a{
  	float:right;
  	width:200px;
  	height:100%;
  	color:#fff;
  	text-align: center;
  	font-size: 50px;
    line-height: 50px;
  	text-decoration:none;
}

.panel h2{
	width: 100%;
	margin: 0px 0px 20px 0px;
	padding: 10px 0px;
	background: rgba(255,255,255,0.2);
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
}

.panel p{
	font-size: 22px;
	text-align: left;
	text-transform: none;
	font-weight: normal;
	margin: 10px 40px;
}

.panel ul{
  clear:both;
}

.panel .tabs{
  float:left;
  list-style:none;
  width:100%;
  padding: 0px;
  margin:0px;
}

.panel .tabs li{
  float:left;
  width:33%;
  text-align: center;
}

.panel .tabs li:last-child{
	width:34%;
}

.panel .tabs li a{
  width:100%;
  height:auto;
  font-size:36px;
  text-decoration:none;
  text-align:center;
  display: block;
	padding: 10px 0px;
}

.panel .tabs li.selected a {
font-weight: bold;
}

.panel .tabpanel{
	clear:both;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.name a img{
  margin-right: -90px;
}

.info{
	display: block;
	float: right;
	color: #fff;
	margin: 5px 25px;
	font-size: 48px;
	position: relative;
	right: 0px;
  width: 40px;
}

/*.popup{
    color:#161008;
	position:absolute;
	top: 2%;
	left: 2%;
	width: 96%;
	height: auto;
	min-height:200px;
	background:#FAF6F1;
	padding:0px;
	border: solid 1px #161008;
	z-index:2000;
	display:none;
	-webkit-box-shadow: 0px 0px 100px 50px rgba(255,250,240,0.8);
	box-shadow: 0px 0px 100px 50px rgba(255,250,240,0.8);
}*/

.popup{
    color: #161008;
	position: absolute;
	top: 2%;
	left: 1%;
	width: 95%;
	height: auto;
	min-height: 200px;
	background: #FAF6F1;
	padding: 0px;
	border: solid 5px #161008;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	z-index: 2000;
	display:none;
	max-height: 95%;
	overflow: hidden;
	/*-webkit-box-shadow: 0px 0px 100px 50px rgba(255,250,240,0.8);
	box-shadow: 0px 0px 100px 50px rgba(255,250,240,0.8);*/
}

.popup h1{
	font-size:60px;
    font-weight:bold;
    margin:0px;
    padding:0px;
    text-align:center;
    text-transform: uppercase;
}

a.back {
	position: absolute;
	background: transparent;
	text-decoration: none;
	font-size: 48px;
	padding: 15px;
	margin: 8px 0px 0px 10px;
	z-index: 600;
	vertical-align: middle;
	line-height: 48px;
	width:auto;
	text-transform: uppercase;
	color:#FFFFB2;
}

a.back span {
	font-size: 70px;
	vertical-align: middle;
	margin-right: 10px;
	float: left;
	margin-top: -17px;
}

a.close, a.postshare{
    position: absolute;
    right: 0px;
	text-decoration: none;
	font-size: 40px;
	padding: 14px 29px;
	margin: 0px;
	vertical-align: middle;
	line-height: 52px;
	width:auto;
	text-transform: uppercase;
	color:#161008;

}

a.postshare{
	left:0px;
	right:auto;
}

.messagebox{
    color: #161008;
	position: absolute;
	bottom: 20%;
	left: 5%;
	width: 90%;
	height: auto;
	min-height: 200px;
	background: #FAF6F1;
	padding: 0px;
	border: solid 5px #161008;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	z-index: 2500;
	display:none;
	/*-webkit-box-shadow: 0px 0px 100px 50px rgba(255,250,240,0.8);
	box-shadow: 0px 0px 100px 50px rgba(255,250,240,0.8);*/
}


#sidemenu{
	position:fixed;
	top:0px;
	right:-500px;
	width:500px;
	height:100%;
	background-color:#2d64a5;
	color:#fff;
	z-index:5000;
}

#sidemenu ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

#sidemenu a, #sidemenu .divider{
	display:block;
	width:100%;
	height:30px;
	margin:0px;
	padding: 15px 0px 10px 40px;
	/*border-bottom:solid 1px #fff;*/
	color:#fff;
	text-decoration:none;
}

#sidemenu a.home{
	background-color:#132e57;
	text-transform:uppercase;
	padding: 25px 0px 15px 25px;
}

#sidemenu a.home span{
	color:#7CB0D4;
	font-size: 24px;
}

#sidemenu a.selected{
	background-color:#7cb0d4;
}

#sidemenu .divider{
	padding-left:25px;
	color:#fff;
	background-color:#7cb0d4;
}

.panel .gridlist{
	list-style:none;
	margin: 50px 0px 0px 10px;
	padding: 0px;
}

.panel .gridlist li{
	display:block;
	float:left;
}

.panel .gridlist a{
	display: block;
	float: left;
	width: 171px;
	height: 70px;
	margin: 0px 0px 20px 5px;
	text-align: center;
	background: rgba(0,0,0,0.2);
	color: #fff;
	text-decoration: none;
	line-height: 24px;
	/*font-size: 20px;*/
	font-weight: normal;
	padding: 30px 15px;
	overflow: hidden;
}

.panel .linearlist, .popup .linearlist{
	list-style:none;
	margin: 0px;
	padding: 0px;
	padding-bottom: 20px;
}

.panel .linearlist li, .popup .linearlist li{
	margin-top: 0px;
	display:block;
	padding: 20px 0px 0px 0px;
	min-height: 10px;
	width:100%;
	font-size: 24px;
	float:left;
}

.panel .linearlist li a, .popup .linearlist li a{
	text-decoration: none;
	font-size: 24px;
	display: block;
	float: left;
	width: 100%;
}

.panel .linearlist li .details, .popup .linearlist li .details{
	display: block;
	float: right;
	font-size: 70px;
	margin-top: 5px;
}

.panel .linearlist li .prodname, .popup .linearlist li .prodname{
	display: block;
	float: left;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	padding: 5px;
	width: 74%;
}

.panel .linearlist li .prodname span{
	font-size: 14px;
}

.panel .linearlist li .produrl, .popup .linearlist li .produrl{
	display: block;
  font-size: 20px;
  line-height: 20px;
  margin: 0px 0px 0px 0px;
  width: 90%;
  vertical-align: middle;
  text-align: right;
  padding-right: 10%;
}

.panel .linearlist li .rtblock{
  display: block;
  float: right;
  font-size: 20px;
  line-height:20px;
  margin: 0px 15px 0px 0px;
  width: 20%;
  vertical-align:middle;
  text-align:right;
}

.panel .linearlist li .ltblock{
  display: block;
  float: left;
  font-size: 20px;
  line-height:20px;
  margin: 0px 15px 0px 0px;
  width: 75%;
  cursor:pointer;
}

.panel .linearlist li .produrl span, .popup .linearlist li .produrl span{
	display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.panel .linearlist li .produrl span.fa, .popup .linearlist li .produrl span.fa{
	padding-left: 5%;
	font-size: 70px;
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
}

.panel .linearlist li .prodqr{
  display:none;
}

.panel .linearlist li.expand .prodqr{
  display:block;
}

.panel .linearlist li .prodqr img{
  width:100%;
}

.panel .linearlist li .prodqr a{
  font-size: 10px;
  text-align: center;
  line-height: 12px;
}

.panel .linearlist li .detail-btn{
	margin:0px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
	font-size: 28px;
  cursor:pointer;
}

.panel .linearlist li .icon, .popup .linearlist li .icon{
	display: block;
	float: left;
	font-size: 60px;
	margin: 0px 2% 2% 2%;
	padding:5px;
	color:#FAF6F1;
	width: 8%;
    padding: 8%;
    box-sizing: border-box;
    position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.panel .linearlist li.expand .icon{
	width: 48%;
	padding: 48%;
	background-size: contain;
}

.panel .linearlist li.expand .produrl{
	/*position: absolute;
	right:3%;*/
}

.panel .linearlist li.expand .prodname {
margin: 0px 2% 0px 2%;
padding: 1% 5% 5% 1%;
width: 120%;
}


.panel .header{
	overflow:hidden;
	position:absolute;
}

.panel .header #streetview, .panel .header #prizephoto, .panel .header a{
	position: absolute;
}

.panel .header #streetview, .panel .header #prizephoto, .panel .header #homeview{
	width: 100%;
	top: -200px;
}

.panel .header a, #header.header a{
	z-index: 1000;
	top: 0px;
	right: 0px;
	color: #fff;
	background: rgba(0,0,0,0.4);
}

.panel .header a, #header.header a.showapp{
  width: 200px;
  position: absolute;
  right: 2%;
  top: 10px;
}

#header.header a{
  background:transparent;
}

.panel .header a.showdirections, .panel .header a.showwebsite, .panel .header a.showinfo{
	margin-right:200px;
}
.panel .header a.showuserlocation{
	margin-right:400px;
}

#home .content{
	overflow-x: hidden;
	overflow-y: visible;
}

/*.button{
	padding:15px 25px;
	margin:auto;
	text-decoration: none;
	color: #161008;
	background:#fff;
	border:solid 2px #999;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	font-size:28px;
	line-height: 38px;
}*/

.button.toggle{
	color: #161008;
	border-color: #161008;
}

.button.toggle.selected{


	color: #FFFFB2;
	border-color: #161008;
	background-color: #161008;
}

#aboutbox{
	/*overflow-x: hidden;
	overflow-y: scroll;
	height: 85%;
	width: 100%;*/
	margin: 0px 4%;
}

#app ul{
	list-style: none;
	float: left;
	width: 100%;
	margin: 40px 0px;
	padding: 0px;
}

#app ul li{
	float: left;
	text-align: center;
	margin: 5px 0px;
	width: 50%;
}

#info.popup{
	height:90%;
	display:block;
}

#info .scroll-pane
{
	width: 92%;
	height: 80%;
	overflow: auto;
	margin: 20px 4% 0px 4%;
}

#info .jspVerticalBar
{
	background: transparent;
}

#info .jspDrag
{
	background-color: #5B6664;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#info .jspTrack
{
	background-color: transparent;
	background-color: rgba(91, 102, 100, 0.5);
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#info .jspCap
{
	display: block;
	background: transparent;
}

#info #aboutbox p{
	margin: 0px 0px 25px 0px;
}

#info #aboutbox p a{
	color:#000;
	font-weight:bold;
}


#share{
	top:5%;
	bottom:auto;
}

#share ul{
	list-style:none;
	margin:0px;
	padding:0px;
}

#share li{
	margin: 10px 0%;
}

#share a.button, #userlogin a.button{
	width: 80%;
	margin-left: 10%;
	padding: 10px 0px;
	border-color: transparent;
	font-size: 50px;
}

#share a#btnfacebook, #userlogin a#btnfacebook{
	color:#fff;
	background:#3b5998;
}

#share a#btntwitter, #userlogin a#btntwitter{
	color:#fff;
	background:#00aced;
}

#share a#btngoogle, #userlogin a#btnanon{
	color:#fff;
	background:#dd4b39;
}

#share a#btnpinterest, #userlogin a#btnpinterest{
	color:#fff;
	background:#cb2027;
}

#share a#btnfoursquare, #userlogin a#btnfoursquare{
	color:#fff;
	background:#0072b1;
}

#share a#btndev{
	color:#000;
	background:#CCCC00;
}

#lightbox{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#000;
	z-index: 2500;
	display:none;
	color:#fff;
}

#lightbox img{
	/*position:absolute;*/
	margin-top:40%;
}

#lightbox p{
	margin: 10px 20px;
	font-size: 18px;
}


.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(250, 246, 241, 0);
	border-top-color: #FAF6F1;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(22, 16, 8, 0);
	border-top-color: #161008;
	border-width: 36px;
	margin-left: -36px;
}

#background{

}

.clouds{
  position:absolute;
  top:-20px;
  left:0%;
  width:100%;
  height:140px;
  background: transparent url('../images/bkg_cloud.png') top center repeat-x;
  z-index:-1;
  overflow:hidden;
}

.clouds .clouds{
  width:120%;
}

.ground{
  position:relative;
  bottom:0%;
  left:0%;
  width:100%;
  height: 500px;
  background: transparent url('../images/bkg_ground.png') bottom center repeat-x;
  z-index:-1;
  overflow:hidden;
  margin-top: -320px;
}

.tree{
  display: block;
  position: relative;
  float:left;
}

#footer{
	position: fixed;
	float:right;
	width: 100%;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

#footer .policy{
	background: rgba(255,255,255,0.8);
	font-size: 12px;
	color: #333;
	line-height: 12px;
	margin-left: 10px;
	padding: 3px 10px;
	font-weight: bold;
	float: left;
}

#footer a.gz {
	width: auto;
	color: #fff;
	line-height: 18px;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	background: rgba(0,0,0,0.8);
	padding: 0px 15px 0px 0px;
	text-decoration: none;
	overflow: hidden;
	margin: 0px 0px;
	display: block;
	float: right;
}

#footer a.gz .badge {
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
	background: #7cb750;
	line-height: 36px;
	font-family: serif;
	padding: 0px 15px 4px 15px;
	margin: 0px;
}


@media only screen
	and (min-width : 1000px) {

	.panel{
		width:800px;
		margin-top:100px;
		/*left:50%;
		margin-left:-400px;*/
	}

}


/* Tablet */
@media only screen
	and (max-width : 800px) {
	/* Styles */

  body{
    background:#fff;
  }

  .pgheader{
    display:none;
  }

	.panel{
		width:100%;
		top:0px;
		left:0px;
		margin:0px;
	}

	.panel h1 {
		font-size: 24px;
		line-height: 26px;
		padding: 10px 0px;
	}

	.panel .content{
		margin-bottom:50px;
	}


	.panel .linearlist li {
		min-height:110px;
	}

	a.back{
		padding: 14px 10px;
		margin: 0px;
	}
	a.back span {
		font-size: 32px;
		margin-top: -8px;
	}
	.panel .header a {
		width: 75px;
		font-size: 40px;
		line-height: 70px;
	}
	.panel .header a.showdirections, .panel .header a.showwebsite, .panel .header a.showinfo{
		margin-right:75px;
	}
	.panel .header a.showuserlocation{
		margin-right:150px;
	}

	.panel .header {
		height: 75px;
	}
	.panel .tabs li a {
		font-size: 18px;
	}


	.panel .linearlist li, .popup .linearlist li {
		font-size: 18px;
	}

	.panel .linearlist li .prodname, .popup .linearlist li .prodname {
		display: block;
		float: left;
		font-size: 18px;
	}

	.panel .linearlist li .prodname span {
		font-size: 12px;
	}

	.panel .linearlist li .produrl, .popup .linearlist li .produrl {
		font-size: 16px;
		line-height: 16px;
	}

  .panel .linearlist li .rtblock {
    width: 22%;
  }

	.panel .linearlist li .produrl span.fa, .popup .linearlist li .produrl span.fa {
		font-size: 70px;
	}

  .scenery{
    display:none;
  }


	#footer{
		height: 28px;
	}

	#footer a.gz {
		line-height: 23px;
		font-size: 16px;
		padding: 1px 10px 6px 0px;
	}

	#footer a.gz .badge {
		font-size: 20px;
		margin-left: 0px;
		margin-right: 0px;
		line-height: 23px;
		padding: 5px 11px;
	}


}

/* Phone */
@media only screen
	and (max-width : 600px) {

	.panel h1 {
		font-size: 18px;
	}

	.panel .linearlist li {
		min-height: 60px;
		padding:10px;
	}

	.panel .linearlist li .icon {
		width:50px;
		height:50px;
	}

	.panel .linearlist li a, .popup .linearlist li a {
		font-size: 14px;
	}

	.panel .linearlist li, .popup .linearlist li {
		font-size: 14px;
	}

	.panel .linearlist li .prodname, .popup .linearlist li .prodname {
		font-size: 14px;
    width:46%;
	}

	.panel .linearlist li .prodname span {
		font-size: 10px;
	}

	.panel .linearlist li .produrl, .popup .linearlist li .produrl {
		font-size: 12px;
		line-height: 14px;
	}

  .panel .linearlist li .rtblock {
    width: 24%;
  }

	.panel .linearlist li .produrl span.fa, .popup .linearlist li .produrl span.fa {
		font-size: 40px;
	}

  .panel .linearlist li .prodqr a{
    font-size: 8px;
    line-height: 10px;
  }

}
