@media only print {
.print{
	display:initial;
}

.sociallinks{
	display:none;
}

.header{
    position: absolute;
    box-shadow: none;
    background: #fff !important;
    border-bottom:solid 1px #666;
        height: 80px;
}

.header #logo{
    display:none;
}

.header #printlogo{
        width: 80px;
    height: 80px;
    float: left;
    padding: 0px;
        margin: 0px 10px 0px 0px;
}

.header .pg-wrap{
    background:#fff !important;
        padding: 0px;
}

.header h2{
    margin:0px;
    padding:0px;
    color:#000;
    font-size:12px;
    font-weight:normal;
    text-align:right;
    margin: 0px;
	padding: 15px 0%;
        width: 36%;
    float: right;
}

.header h2 span{
    font-size:24px;
    font-weight:bold;
}

.theme-bkg {
    background:#fff !important;
}

.info, #print {
    display: none;
}

.header h1 {
    background: transparent;
    color: #000;
    margin: 0px;
    padding: 15px 0%;
    height: 40px;
}

/*h1 .dsk:before{
	content:'My Listmas: ';
	margin-left:10px;
}*/

h1 .url{
	font-size: 0.35em;
    font-weight: normal;
    line-height: 0.35em;
    text-transform: lowercase;
}

h1 a, h1 br {
	display:none;
}

h1 br.print{
	display:initial;
}

.linearlist li .rtblock {
    display: none;
}

.linearlist li .ltblock {
    width: 100%;
}

.linearlist li .detail-btn {
    display:none;
}

.linearlist, .popup .linearlist {
    width: 80%;
    margin-left: 10%;
}

.linearlist li{
	padding:2% 0%;
}

.linearlist li.bought {
    background: #fff;
}

.linearlist li .prodname {
	    font-size: 18px;
    line-height: 20px;
}

.linearlist li .description {
    color: #c00;
    font-size: 16px;
    font-weight:bold;
}

.linearlist li.bought .prodname, .linearlist li.bought .icon {
    opacity: 0.5;
	text-decoration: line-through;
	font-size: 0.75em;
}

.linearlist li .icon, .popup .linearlist li .icon {
    display: none;
}

.linearlist li .icon.print{
	display: block;
    width: 8%;
    margin: 0% 5% 0% 5%;
    padding: 0%;
}

.linearlist li.bought .icon.print{
	opacity: 0.5;
}

.linearlist li .prodname, .popup .linearlist li .prodname {
    padding: 0%;
    width: 70%;
}

#footer *, #footer a.gz{
	display:none;
}

.ground-spacer {
    padding-bottom: 0px;
}

.ground{
	display:none;
}

}