body.summer{
    background: #00356b; /* Old browsers */
    background: -moz-linear-gradient(top,  #00356b 0%, #1e5799 70%, #fffbe2 80%, #ff96d6 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00356b), color-stop(70%,#1e5799), color-stop(80%,#fffbe2), color-stop(95%,#ff96d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00356b 0%,#1e5799 70%,#fffbe2 80%,#ff96d6 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00356b 0%,#1e5799 70%,#fffbe2 80%,#ff96d6 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00356b 0%,#1e5799 70%,#fffbe2 80%,#ff96d6 95%); /* IE10+ */
    background: linear-gradient(to bottom, #00356b 0%,#1e5799 70%,#fffbe2 80%,#ff96d6 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00356b', endColorstr='#ff96d6',GradientType=0 ); /* IE6-9 */

}

.summer .clouds{
    background:transparent;
}

.summer .pgheader .sociallinks a {
  color: #ffffcc;
}

/*.panel h1, .popup h1 {
  background: #003399;
}*/

.summer .ground .bkg.one{
    background: transparent url('../images/bkg_summer_1.png') left top repeat-x;
}

.summer .ground .bkg.two{
    background: transparent url('../images/bkg_summer_2.png') top center repeat-x;
}

.summer .ground .bkg.three{
    background: transparent url('../images/bkg_summer_3.png') top center repeat-x;
}

.summer .ground .bkg.four{
    background: transparent url('../images/bkg_summer_4.png') top center repeat-x;
}

.summer .ground .bkg.five{
    background: transparent url('../images/bkg_summer_5.png') top center repeat-x;
}
