body.summer .theme-bkg,
.container.summer{
    background: #00356b; /* Old browsers */
    background: -moz-linear-gradient(top,  #00356b 0%, #1e5799 70%, #fcc 80%, #ff96d6 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, center top, left bottom, color-stop(0%,#00356b), color-stop(70%,#1e5799), color-stop(80%,#fcc), color-stop(95%,#ff96d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00356b 0%,#1e5799 70%,#fcc 80%,#ff96d6 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00356b 0%,#1e5799 70%,#fcc 80%,#ff96d6 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00356b 0%,#1e5799 70%,#fcc 80%,#ff96d6 95%); /* IE10+ */
    background: linear-gradient(to bottom, #00356b 0%,#1e5799 80%,#fcc 90%,#ff96d6 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00356b', endColorstr='#ff96d6',GradientType=0 ); /* IE6-9 */

}

.summer .header{
    background:rgba(0, 53, 107, 1);
    color: #ffffcc;
}

.summer .header .pg-wrap{
    background:rgba(0, 53, 107, 1);
}

.summer .clouds{
    background:transparent;
}

.summer .header a {
  color: #ffffcc;
}

/*.panel h1, .popup h1 {
  background: #003399;
}*/

.summer .ground .bkg.one{
    background-color: transparent;
    background-image:  url('../images/bkg_summer_1.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.summer .ground .bkg.two{
    background-color: transparent;
    background-image:  url('../images/bkg_summer_2.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.summer .ground .bkg.three{
    background-color: transparent;
    background-image:  url('../images/bkg_summer_3.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.summer .ground .bkg.four{
    background-color: transparent;
    background-image:  url('../images/bkg_summer_4.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.summer .ground .bkg.five{
    background-color: transparent;
    background-image:  url('../images/bkg_summer_5.png');
    background-position: center top;
    background-repeat: repeat-x;
}

@media only screen and (max-width: 800px){
    body.summer .ground.scenery .bkg {
        background-position: 50% 0%;
    }
    body.summer .ground.scenery{
        background: #00356b; /* Old browsers */
        background: -moz-linear-gradient(top,  #00356b 0%, #1e5799 28%, #fcc 52%, #ff96d6 75%); /* FF3.6+ */
        background: -webkit-gradient(linear, center top, left bottom, color-stop(0%,#00356b), color-stop(28%,#1e5799), color-stop(52%,#fcc), color-stop(75%,#ff96d6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #00356b 0%,#1e5799 28%,#fcc 52%,#ff96d6 75%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #00356b 0%,#1e5799 28%,#fcc 52%,#ff96d6 75%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #00356b 0%,#1e5799 28%,#fcc 52%,#ff96d6 75%); /* IE10+ */
        background: linear-gradient(to bottom, #00356b 0%,#1e5799 28%,#fcc 52%,#ff96d6 75%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00356b', endColorstr='#ff96d6',GradientType=0 ); /* IE6-9 */

    }
}
