body.space .theme-bkg{
    background: #1a1b1a url('../images/bkg_space_0.png');
}

.space .header, .space .header .pg-wrap, .space .header a{
    background:#33404d;
    color: #ededde;
}

.space .clouds{
    background:transparent;
}

.space .linearlist li {
    background: rgba(255,255,255,0.9);
}

/*.panel h1, .popup h1 {
  background: #003399;
}*/

.space .ground .bkg.one{
    background-color: transparent;
    background-image:  url('../images/bkg_space_1.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.space .ground .bkg.two{
    background-color: transparent;
    background-image:  url('../images/bkg_space_2.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.space .ground .bkg.three{
    background-color: transparent;
    background-image:  url('../images/bkg_space_3.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.space .ground .bkg.four{
    background-color: transparent;
    background-image:  url('../images/bkg_space_4.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.space .ground .bkg.five{
    background-color: transparent;
    background-image:  url('../images/bkg_space_5.png');
    background-position: center top;
    background-repeat: repeat-x;
}

@media only screen and (max-width: 800px){
    body.space .ground.scenery .bkg {
        background-position: 50% 0%;
    }
}
