body.birthday .theme-bkg{
    background:#33BDF2;
}

.birthday .header{
    background:rgb(45,50,150);
    color: #ffffff;
}

.birthday .clouds{
    background:transparent;
}

.birthday .pgheader .sociallinks a {
  color: #ffffff;
}

/*.panel h1, .popup h1 {
  background: #003399;
}*/

.birthday .ground .bkg.one{
    background-color: transparent;
    background-image:  url('../images/bkg_birthday_1.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.birthday .ground .bkg.two{
    background-color: transparent;
    background-image:  url('../images/bkg_birthday_2.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.birthday .ground .bkg.three{
    background-color: transparent;
    background-image:  url('../images/bkg_birthday_3.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.birthday .ground .bkg.four{
    background-color: transparent;
    background-image:  url('../images/bkg_birthday_4.png');
    background-position: center top;
    background-repeat: repeat-x;
}

.birthday .ground .bkg.five{
    background-color: transparent;
    background-image:  url('../images/bkg_birthday_5.png');
    background-position: center top;
    background-repeat: repeat-x;
}

@media only screen and (max-width: 800px){
    body.birthday .ground.scenery .bkg {
        background-position: 50% 0%;
    }
}
