.page, .page__content{
    /*background:#e7edf7;*/
}

.navigation-bar{
    background:#e3343f;
}

.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet, .navigation-bar__title{
    color:#ffffff;
}

.button{
    background:#4eb94b;
}

.foot_ctrl{
    background:#b8e3b7;
}

.foot_ctrl h3{
    color:#4eb94b;
}

.foot_ctrl .button{
    border-color:#b8e3b7;
}

.button.close-btn{
    background-color:#666;
}