.page, .page__content{
    /*background:#e7edf7;*/
}

.navigation-bar{
    background:#e3343f;
}

.summer.navigation-bar{
    background:#00356b;
}

.birthday.navigation-bar{
    background:#33BDF2;
}

.megalopolis.navigation-bar{
    background:#1a0927;
}

.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet, .navigation-bar__title{
    color:#ffffff;
}

.summer .button, .summer .toolbar-button, .summer .toolbar-button--outline, .summer .toolbar-button--quiet, .summer .navigation-bar__title{
    color:#ffffcc;
}

.button{
    background:#3c9339;
}

.navigation-bar .button{
    background:transparent;
}

.foot_ctrl{
    background:#b8e3b7;
}

.foot_ctrl h3{
    color:#3c9339;
}

.foot_ctrl .button{
    border-color:#b8e3b7;
}

.button.close-btn{
    background-color:#666;
}