<ons-page ng-controller="GroceryListCtrl">

    <ons-toolbar ng-class="shoplistTheme">
        <div class="left">
            <ons-toolbar-button ng-click="GoBack();"><ons-icon icon="list-ul"></ons-icon></ons-toolbar-button>    
        </div>
        <div class="center">{{shoplistName}}</div>
        <div class="right">
            <!--<ons-toolbar-button ng-click="DoShare();" ng-if="shareStatus && (shoplistCheckoff >= 0)"><ons-icon icon="share-alt"></ons-icon>Share</ons-toolbar-button>-->
            <ons-button ng-click="ViewWebPage();" should-spin="{{publishing}}" disabled="{{publishing}}" animation="zoom-in"><ons-icon icon="globe"></ons-icon></ons-button>
        </div>
    </ons-toolbar>
    
    <ons-modal var="malt">
        <div class="dialog">
            <p>No product information could be found. Would you like to take a picture instead?</p>
            <ons-button class="control-btn" ng-click="GetPhoto()"><ons-icon icon="camera"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="malt.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="mdelete">
        <div class="dialog">
            <p>Do you want to delete the item: <strong>{{prodDeleteName}}</strong>?</p>
            <ons-button class="control-btn delete-btn" ng-click="DeleteGrocery()"><ons-icon icon="trash-o"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="mdelete.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="mreminder">
        <div class="dialog">
            <p>Remember to visit the <strong><i class="fa fa-share-alt"></i> Share</strong> screen and <strong><i class="fa fa-cloud-upload"></i> Publish</strong> your changes to the web.</p>
            <ons-button class="control-btn close-btn" onclick="mreminder.hide()" style="width: 100%;"><ons-icon icon="check"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="mbought">
        <div class="dialog">
            <p><strong>Purchase Notification:<br/>{{prodDeleteName}}</strong><br/><br/>Someone posted that they bought this item. Press the <strong><i class="fa fa-trash-o"></i> Delete</strong> button to remove this item from your list.</p>
            <ons-button class="control-btn delete-btn" ng-click="mbought.hide(); DoDelete(prodDeleteId, prodDeleteName);"><ons-icon icon="trash-o"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="mbought.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="murl">
        <div class="dialog url-dialog">
            <p>Enter a product page url:</p>
            <p><input id="url-input" type="text" class="text-input" ng-model="searchUrl"/></p>
            <ons-button class="control-btn search-btn" should-spin="{{urlStatus}}" disabled="{{scanStatus || urlStatus}}" ng-click="GetUrl();"><ons-icon icon="check"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="murl.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="mimg">
        <div class="dialog floating-dialog">
        <h1>Choose an Image:</h1>
            <ul class="scrolllist">
                <li ng-repeat="image in metaurl.images track by $index">
                    <img src="{{image}}" width="100%" ng-click="AddUrl(metaurl.title, image, metaurl.link)"/>
                </li>
            </ul>
            <ons-button class="control-btn close-btn" onclick="mimg.hide()" style="width: 100%;"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="medit">
        <div class="dialog floating-dialog">
            <h1 style="height:30px; max-height:30px; overflow:hidden;">{{actionitem.prodName}}</h1>
            <p>Choose an action:</p>
            <ul class="scrolllist" style="height:65%;">
                <li>
                    <ons-button class="control-btn" style="width: 100%;"  ng-click="ShowDetails(actionitem); medit.hide();"><ons-icon icon="pencil"></ons-icon> Edit</ons-button>
                </li>
                <li>
                    <ons-button class="control-btn" style="width: 100%;"  ng-click="DoDelete(actionitem.prodId, actionitem.prodName); medit.hide();"><ons-icon icon="trash-o"></ons-icon> Delete</ons-button>
                </li>
                <li>
                <ons-button class="control-btn" style="width: 100%;" ng-click="mpro.show('modal')" ng-show="false"><ons-icon icon="star"></ons-icon> Upgrade To Rank Items</ons-button>
                <span ng-if="true">
                List Rank
                <ul class="rating">
                    <li class="fa fa-circle" ng-click="SetRating(0)" style="color:#ccc;"></li>
                    <li class="fa" ng-class="(actionitem.prodRating>0) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(1)"></li>
                    <li class="fa" ng-class="(actionitem.prodRating>1) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(2)"></li>
                    <li class="fa" ng-class="(actionitem.prodRating>2) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(3)"></li>
                    <li class="fa" ng-class="(actionitem.prodRating>3) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(4)"></li>
                    <li class="fa" ng-class="(actionitem.prodRating>4) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(5)"></li>
                </ul>
                </span>
                </li>
            </ul>
            <ons-button class="control-btn close-btn" style="width: 100%;"  onclick="medit.hide()"><ons-icon icon="times"></ons-icon></ons-button>
                
        </div>
    </ons-modal>
    
    <ons-modal var="madditem">
        <div class="dialog floating-dialog">
        <h1>Add An Item:</h1>
            <ul class="scrolllist">
                <li>
                    <ons-button class="control-btn" style="width: 100%;" ng-click="DummyPhoto(); madditem.hide();" disabled="{{scanStatus || urlStatus}}"><span class="fa fa-pencil fa-lg"></span> Text Only ( no photo )</ons-button>
                </li>
                <li>
                    <ons-button class="control-btn" style="width: 100%;" ng-click="GetPhoto(); madditem.hide();" disabled="{{scanStatus || urlStatus}}"><span class="fa fa-camera fa-lg"></span> Take Photo</ons-button>
                </li>
                <li>
                    <ons-button class="control-btn" style="width: 100%;" ng-click="app.navi.pushPage('search.html'); madditem.hide();" disabled="{{scanStatus || urlStatus}}"><span class="fa fa-search fa-lg"></span> Search Online</ons-button>
                </li>
                <li>
                    <ons-button class="control-btn" style="width: 100%;" ng-click="ScanBarcode(); madditem.hide();" should-spin="{{scanStatus}}" disabled="{{scanStatus || urlStatus}}" animation="zoom-in"><span class="fa fa-barcode fa-lg"></span> Scan Barcode</ons-button>
                </li>
                <li>
                    <ons-button class="control-btn" style="width: 100%;" ng-click="ShowUrlModal(); madditem.hide();" should-spin="{{urlStatus}}" disabled="{{scanStatus || urlStatus}}"><span class="fa fa-globe fa-lg"></span> Enter URL</ons-button>
                </li>
                
            </ul>
            <ons-button class="control-btn close-btn" onclick="madditem.hide()" style="width: 100%;"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <div class="xfermessage" ng-if="shoplistCheckoff < 0">
    
        <p style="margin-top:0px"><strong>This list has been posted for transfer.</strong></p>
        <p>To transfer this list to another device, press the Import List (<i class="fa fa-cloud-download"></i>) button on that device and enter this four digit code:</p>
        <h1>{{-shoplistCheckoff}}</h1>
        <p>* If you no longer wish to transfer this list, you may regain control by importing it back into this device.
    
    </div>
    
    <div ng-if="shoplistCheckoff >= 0">
    
    <ons-list class="prodlist">
        <ons-list-item ng-repeat="grocery in groceries" ng-controller="GroceryListing" ng-click="DoEdit(grocery)" class="thumbnail grocery-listing" ng-class="(grocery.prodBought=='true') ? 'done-true' : 'edit'">
            <!--<ons-gesture-detector ng-hold="DoDelete(grocery.prodId, grocery.prodName)" class="wrapper">-->
            <span class="prodName" ng-class="(grocery.prodBought=='true') ? 'done-true' : ''">{{grocery.prodName}}</span>
            <span class="prodRating" ng-if="true"><span ng-if="(grocery.prodRating > 0)">Rank: </span>
                <span ng-repeat="i in getNumber(grocery.prodRating) track by $index" class="fa fa-star">&nbsp
                </span>
            </span>
            <div class="prodPhoto" style="background-image:url({{grocery.prodPhoto}});"></div><!--<img ng-src="{{grocery.prodPhoto}}"/>-->
            <!--</ons-gesture-detector>-->
        </ons-list-item>
        <ons-list-item style="padding-bottom:100%; background-image:url('images/bkg_{{shoplistTheme}}.png'); background-size:cover;"></ons-list-item>
    </ons-list>
    
    <div class="help hlist" ng-if="showHelp">
        <div class="toolbar">
            Add some items. Then tap the <span class="fa fa-globe"></span> to view your list on the web.
        </div>
        <div class="footbar">
            Add items to your list: search by name, take a photograph, scan a barcode or link to a web page. Share your list privately through email and text message or on social networks. Press the <span class="fa fa-gear"></span> to change your list name and theme.
        </div>
    </div>
    
    <form class="foot_ctrl list_foot_ctrl">
        <!--<h3>Add Item</h3>
        <ons-button class="capture-btn" ng-click="ScanBarcode()" should-spin="{{scanStatus}}" disabled="{{scanStatus || urlStatus}}" animation="zoom-in"><span class="fa fa-barcode fa-lg"></span><br/>UPC</ons-button>
        <ons-button class="capture-btn" ng-click="GetPhoto()" disabled="{{scanStatus || urlStatus}}"><span class="fa fa-camera fa-lg"></span><br/>Photo</ons-button>
        <ons-button class="capture-btn" ng-click="ShowUrlModal()" should-spin="{{urlStatus}}" disabled="{{scanStatus || urlStatus}}"><span class="fa fa-globe fa-lg"></span><br/>URL</ons-button>
        <ons-button class="capture-btn" ng-click="app.navi.pushPage('search.html');" disabled="{{scanStatus || urlStatus}}"><span class="fa fa-search fa-lg"></span><br/>Search</ons-button>-->
        
        <ons-button class="control-btn" style="width:37%" ng-click="madditem.show('modal')"><span class="fa fa-plus fa-lg"></span>&nbsp;&nbsp;Add Item</ons-button>
        <ons-button class="control-btn" style="width:37%" ng-click="DoShare();" ng-if="shareStatus && (shoplistCheckoff >= 0)"><span class="fa fa-share-alt fa-lg"></span>&nbsp;&nbsp;Share</ons-button>
        <ons-button class="control-btn" style="width:21%" ng-click="DoOpts();"><span class="fa fa-gear fa-lg"></span></ons-button>
    </form>
    
    </div>

</ons-page>