<ons-page ng-controller="ShopListCtrl">

    <ons-toolbar>
        <div class="left">
            <!--<ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>-->
            <!--<ons-toolbar-button ng-click="SetPro(1)" ng-show="proStatus != 1"><ons-icon icon="lock"></ons-icon></ons-toolbar-button>
            <ons-toolbar-button ng-click="SetPro(0)" ng-show="proStatus == 1"><ons-icon icon="unlock-alt"></ons-icon></ons-toolbar-button>-->
            <!--
            <ons-toolbar-button ng-click="ShowXferModal()" ng-show="proStatus == 1"><ons-icon icon="cloud-download"></ons-icon></ons-toolbar-button>
            <ons-toolbar-button id="btn-upgrade" ng-click="UnlockImport()" ng-show="proStatus != 1"><ons-icon icon="star"></ons-icon>Upgrade</ons-toolbar-button>
            -->
        </div>
        <div class="center"><img src="images/app_logo.png" width="44" height="44" /></div>
        <div class="right">
            <ons-toolbar-button ng-click="app.navi.pushPage('info.html');"><ons-icon icon="info-circle"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <ons-modal var="modal">
        <div class="dialog">
            <p>Do you want to delete the list: <strong>{{listDeleteName}}</strong>?</p>
            <ons-button class="control-btn delete-btn" ng-click="DeleteList()"><ons-icon icon="trash-o"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="modal.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
        
    </ons-modal>
    
    <ons-modal var="mxfer">
        <div class="dialog">
            <h2 style="margin:0px 0px 10px 0px;"><i class="fa fa-cloud-download"></i> Import List</h2>
            <p>Enter the code you received when you submitted the list for transfer:</p>
            <p><input id="xfer-input" type="number" class="text-input" ng-model="xferPin"/></p>
            <ons-button class="control-btn delete-btn" ng-click="RestoreList()"><ons-icon icon="check"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="mxfer.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
        
    </ons-modal>
    
    <ons-list>
      <ons-list-item modifier="chevron" ng-repeat="shoplist in shoplists" ng-click="SetActiveList(shoplist.shoplistId)" class="thumbnail grocery-listing">
            <ons-gesture-detector ng-if="shoplist.shoplistName!='74362.1541'" ng-hold="DoDelete(shoplist.shoplistId, shoplist.shoplistName)">
            <img class="lists-theme" ng-src="images/bkg_{{shoplist.shoplistTheme}}.png"/>
            <span class="lists-name" ng-class="">{{shoplist.shoplistName}}</span>
            </ons-gesture-detector>
            <ons-button ng-if="shoplist.shoplistName=='74362.1541'" class="add-btn" ng-click="app.navi.pushPage('dev.html')">Dev</ons-button>
      </ons-list-item>
    </ons-list>
    
    <div class="help hlists" ng-if="showHelp">
        <!--<div class="toolbar">
            Name your list and add it to start.
        </div>-->
        <div class="footbar">
            Start by adding a list.
        </div>
    </div>
    
    <!--<form class="foot_ctrl">
        <h3>Dev Use Only</h3>
        <ons-button ng-click="AddJames()">Add James</ons-button>
        <ons-button ng-click="ClearDb()">Clear DB</ons-button>
    </form>-->
    <form class="foot_ctrl">
        <!--<h3>Make a list</h3>
        <input class="add-input" placeholder="List Name..." type="text" ng-model="formListText" ng-model-instant />
        <ons-button ng-click="ShowXferModal()"><ons-icon icon="cloud-download"></ons-icon> Import List</ons-button>-->
        <!--<ons-button class="wide-btn" id="btn-upgrade" ng-click="UnlockImport()" ng-show="proStatus != 1"><ons-icon icon="star"></ons-icon> Upgrade</ons-button>-->
        <ons-button class="wide-btn" ng-click="NewList()"><span class="fa fa-plus fa-lg"></span> New List</ons-button>
    </form>

</ons-page>