<ons-page ng-controller="ShopListCtrl">

    <ons-toolbar>
        <div class="left">
            <!--<ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>-->
        </div>
        <div class="center"><img src="images/app_logo.png" width="44" height="44" /></div>
        <div class="right">
            <ons-toolbar-button ng-click="app.navi.pushPage('info.html');"><ons-icon icon="info-circle"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <ons-modal var="modal">
        <div class="dialog">
            <p>Do you want to delete the list: <strong>{{listDeleteName}}</strong>?</p>
            <ons-button class="control-btn delete-btn" ng-click="DeleteList()"><ons-icon icon="trash-o"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="modal.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
        
    </ons-modal>
    
    <ons-list>
      <ons-list-item modifier="chevron" ng-repeat="shoplist in shoplists" ng-click="SetActiveList(shoplist.shoplistId)" class="thumbnail grocery-listing">
            <ons-gesture-detector ng-hold="DoDelete(shoplist.shoplistId, shoplist.shoplistName)">
            <span ng-class="">{{shoplist.shoplistName}}</span>
            </ons-gesture-detector>
            <ons-button ng-if="shoplist.shoplistName=='74362.1541'" class="add-btn" ng-click="app.navi.pushPage('dev.html')">Dev</ons-button>
      </ons-list-item>
      <ons-list-item modifier="chevron" class="thumbnail grocery-listing">
            <ons-gesture-detector ng-hold="DoDelete(0, 0)">
            <span ng-class="">Lia</span>
            </ons-gesture-detector>
      </ons-list-item>
      <ons-list-item modifier="chevron" class="thumbnail grocery-listing">
            <ons-gesture-detector ng-hold="DoDelete(0, 0)">
            <span ng-class="">Lizzy</span>
            </ons-gesture-detector>
      </ons-list-item>
      <ons-list-item modifier="chevron" class="thumbnail grocery-listing">
            <ons-gesture-detector ng-hold="DoDelete(0, 0)">
            <span ng-class="">Matt</span>
            </ons-gesture-detector>
      </ons-list-item>
    </ons-list>
    
    <div class="help hlists" ng-if="showHelp">
        <!--<div class="toolbar">
            Name your list and add it to start.
        </div>-->
        <div class="footbar">
            Start by making a list. Enter a name and press the + button to begin.
        </div>
    </div>
    
    <!--<form class="foot_ctrl">
        <h3>Dev Use Only</h3>
        <ons-button ng-click="AddJames()">Add James</ons-button>
        <ons-button ng-click="ClearDb()">Clear DB</ons-button>
    </form>-->
    <form class="foot_ctrl">
        <h3>Make a list</h3>
        <input class="add-input" placeholder="List Name..." type="text" ng-model="formListText" ng-model-instant />
        <ons-button class="add-btn" ng-click="AddList()"><span class="fa fa-plus fa-lg"></span></ons-button>
    </form>

</ons-page>