<ons-page ng-controller="nlw">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.navi.popPage();"> <ons-icon icon="chevron-left"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center"><img src="images/app_logo.png" width="44" height="44" /></div>
        <div class="right"></div>
    </ons-toolbar>
    
    <ons-modal var="modal">
        <div class="dialog">
            <p>Do you want to delete the list: <strong>{{listDeleteName}}</strong>?</p>
            <ons-button class="control-btn delete-btn" ng-click="DeleteList()"><ons-icon icon="trash-o"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="modal.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
        
    </ons-modal>
    
    <ons-modal var="mxfer">
        <div class="dialog">
            <h2 style="margin:0px 0px 10px 0px;"><i class="fa fa-cloud-download"></i> Import List</h2>
            <p>Enter the code you received when you submitted the list for transfer:</p>
            <p><input id="xfer-input" type="number" class="text-input" ng-model="xferPin"/></p>
            <ons-button class="control-btn delete-btn" ng-click="RestoreList()"><ons-icon icon="check"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="mxfer.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
        
    </ons-modal>
    <div class="nlwpage">
    <h1>List Theme</h1>
    <ul class="scrolllist">
        <li>
            <div class="themeselect" ng-class="{'selected':(activeTheme=='cabin')}" ng-click="AddTheme('cabin')" style="background-image:url('images/bkg_cabin.png');"><span class="fa fa-check-circle"></span></div><label>Log Cabin</label>
        </li>
        <li>
            <div class="themeselect" ng-class="{'selected':(activeTheme=='birthday')}" ng-click="AddTheme('birthday')" style="background-image:url('images/bkg_birthday.png');"><span class="fa fa-check-circle"></span></div><label>Birthday Party</label>
        </li>
        <li ng-hide="proStatus == 1" class="buypro">
            <div class="themeselect" ng-class="" ng-click="BuyPro()" style="background-image:url('images/buy_themes.svg');"></div>
        </li>
        <li>
            <div class="themeselect" ng-class="{'selected':(activeTheme=='summer'),'disabled':(proStatus != 1)}" ng-click="AddTheme('summer')" style="background-image:url('images/bkg_summer.png');"><span class="fa fa-check-circle"></span></div><label>Summer Vacation</label>
        </li>
        <li>
            <div class="themeselect" ng-class="{'selected':(activeTheme=='megalopolis'),'disabled':(proStatus != 1)}" ng-click="AddTheme('megalopolis')" style="background-image:url('images/bkg_megalopolis.png');"><span class="fa fa-check-circle"></span></div><label>Megalopolis</label>
        </li>
    </ul>
    </div>
    <form class="foot_ctrl">
        
        <ons-button class="wide-btn next" ng-click="DoDone()">Done</ons-button>
    </form>

</ons-page>