<ons-page ng-controller="nlw">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.navi.popPage();" ng-hide=""> <ons-icon icon="chevron-left"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center"><img src="images/app_logo.png" width="44" height="44" /></div>
        <div class="right">
            
        </div>
    </ons-toolbar>
    
    <ons-modal var="modal">
        <div class="dialog">
            <p>Do you want to delete the list: <strong>{{listDeleteName}}</strong>?</p>
            <ons-button class="control-btn delete-btn" ng-click="DeleteList()"><ons-icon icon="trash-o"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="modal.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
        
    </ons-modal>
    
    <ons-modal var="mxfer">
        <div class="dialog">
            <h2 style="margin:0px 0px 10px 0px;"><i class="fa fa-cloud-download"></i> Import List</h2>
            <p>Enter the code you received when you submitted the list for transfer:</p>
            <p><input id="xfer-input" type="number" class="text-input" ng-model="xferPin"/></p>
            <ons-button class="control-btn delete-btn" ng-click="RestoreList()"><ons-icon icon="check"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="mxfer.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
        
    </ons-modal>
    <div class="nlwpage">
        <h1>List Name</h1>
        <input class="add-input" placeholder="My Wish List" type="text" ng-model="listTitle" ng-model-instant />
        <p>
            <strong>A great list needs a great name!</strong> Listmas was designed for anonymity. To keep the list anonymous, do not use any personally identifiable information in your list name.
        </p>
    </div>
    <form class="foot_ctrl">
        <ons-button ng-click="ShowXferModal()" ng-hide="listId > 0"><ons-icon icon="cloud-download"></ons-icon> Import List</ons-button>
        <ons-button ng-click="DoDelete(listId, listTitle)" ng-hide="listId < 0"><ons-icon icon="trash-o"></ons-icon> Delete List</ons-button>
        <ons-button ng-class="" class="next" ng-click="AddList()" ng-attr-disabled="{{ listTitle == '' }}">Next</ons-button>
    </form>

</ons-page>