<ons-page ng-controller="ProdDetailCtrl">
    <div  style="position:absolute; top:-5%; left:-5%; width:110%; height:110%; background-image:url({{grocery.prodPhoto}}); background-size:cover; z-index: -1; filter: blur(10px); -webkit-filter: blur(10px); background-position: center; opacity: 0.25;">
    </div>
    <ons-toolbar>
        <div class="left">
            <!--<ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>-->
            <ons-toolbar-button ng-click="app.navi.popPage()"><ons-icon icon="chevron-left"></ons-icon></ons-toolbar-button>  
        </div>
        <div class="center">Details</div>
        <div class="right">
            <ons-toolbar-button ng-click="DoDelete()" class="delete-btn"><ons-icon icon="trash-o"></ons-icon></ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <ons-modal var="mpdel">
        <div class="dialog">
            <p>Do you want to delete this item?</p>
            <ons-button class="control-btn delete-btn" ng-click="DeleteGrocery()"><ons-icon icon="trash-o"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="mpdel.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
        
    </ons-modal>
    
    <form class="detail-form">
        <input class="detail-input" placeholder="Name" type="text" ng-model="grocery.prodName" ng-model-instant />
        <!--<label class="rating">List Ranking</label>
        <ul class="rating">
            <li class="fa fa-circle" ng-click="SetRating(0)" style="color:#ccc;"></li>
            <li class="fa" ng-class="(grocery.prodRating>0) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(1)"></li>
            <li class="fa" ng-class="(grocery.prodRating>1) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(2)"></li>
            <li class="fa" ng-class="(grocery.prodRating>2) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(3)"></li>
            <li class="fa" ng-class="(grocery.prodRating>3) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(4)"></li>
            <li class="fa" ng-class="(grocery.prodRating>4) ? 'fa-star' : 'fa-star-o'" ng-click="SetRating(5)"></li>
        </ul>-->
        <!--<div class="detail-photo" style="background-image:url({{grocery.prodPhoto}});"></div>-->
        <textarea class="detail-input" placeholder="Comment" type="text" ng-model="grocery.prodDescription"></textarea>
        <input class="detail-input" placeholder="URL" type="text" ng-model="grocery.prodUrl" ng-model-instant />
        
    </form>
    
    <form class="foot_ctrl">
        <ons-button class="save-btn wide-btn" ng-click="SaveGrocery()" should-spin="{{scanStatus}}" disabled="{{scanStatus}}" animation="zoom-in"><ons-icon icon="check"></ons-icon></ons-button>
        <!--<ons-button class="close-btn" ng-click="app.navi.popPage()"><ons-icon icon="times"></ons-icon></ons-button>-->
    </form>

</ons-page>