<ons-page ng-controller="ShareCtrl" style="">
    <!-- div  style="position:absolute; top:-5%; left:0%; width:100%; height:130%; background-image:url('images/bkg_{{list.shoplistTheme}}.png'); background-size:cover; z-index: -1; filter: blur(5px); -webkit-filter: blur(5px); background-position: center; opacity: 0.45;">
    </div>-->
    <ons-toolbar>
        <div class="left">
            <!--<ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>-->
            <ons-toolbar-button ng-click="app.navi.popPage()"><ons-icon icon="chevron-left"></ons-icon></ons-toolbar-button>  
        </div>
        <div class="center">Share</div>
        <div class="right">
            
        </div>
    </ons-toolbar>
    
    <ons-modal var="pubresult">
        <div class="dialog">
            <p>{{publishResultTxt}}</p>
            <ons-button class="wide-btn" ng-click="PubClose()"><ons-icon icon="check"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="xferwarn">
        <div class="dialog">
            <p>
                <strong><i class="fa fa-upload"></i> Mark List For Transfer?</strong>
            </p>
            <p>Transfer your list to another device. Use this if you change phones, or want to give control of the list to someone else.</p>
            <p>
                <strong>Warning:</strong> once your list is marked for transfer, it can no longer be edited on this device.
            </p>
            <ons-button class="control-btn" ng-click="DoXfer()"><ons-icon icon="upload"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="xferwarn.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="mtheme">
        <div class="dialog floating-dialog">
            <h1>Choose a Theme:</h1>
            <ul class="scrolllist">
            <li>
                <div class="themeselect" ng-class="(activeTheme=='cabin') ? 'selected' : ''" ng-click="ChangeTheme('cabin')" style="background-image:url('images/bkg_cabin.png');">Cabin in the Woods <span class="fa fa-check-circle"></span></div>
            </li>
            <li>
                <div class="themeselect" ng-class="(activeTheme=='summer') ? 'selected' : ''" ng-click="ChangeTheme('summer')" style="background-image:url('images/bkg_summer.png');">Evening at the Beach <span class="fa fa-check-circle"></div>
            </li>
            <li>
                <div class="themeselect" ng-class="(activeTheme=='birthday') ? 'selected' : ''" ng-click="ChangeTheme('birthday')" style="background-image:url('images/bkg_birthday.png');">Birthday Party <span class="fa fa-check-circle"></div>
            </li>
            <li>
                <div class="themeselect" ng-class="(activeTheme=='megalopolis') ? 'selected' : ''" ng-click="ChangeTheme('megalopolis')" style="background-image:url('images/bkg_megalopolis.png');">Megalopolis <span class="fa fa-check-circle"></div>
            </li>
            </ul>
            <ons-button class="control-btn close-btn" ng-click="ShowReminder()" style="width: 100%;"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="mpreminder">
        <div class="dialog">
            <p>You need to publish your list to activate the new theme. Do you want to publish now?</p>
            <ons-button class="control-btn publish-btn" ng-click="mpreminder.hide(); DoPublish();"><ons-icon icon="cloud-upload"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" onclick="mpreminder.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <ons-modal var="mdirty">
        <div class="dialog">
            <p>You have made changes to this list. Do you want to publish now?</p>
            <ons-button class="control-btn publish-btn" ng-click="mdirty.hide(); DoPublish();"><ons-icon icon="cloud-upload"></ons-icon></ons-button>
            <ons-button class="control-btn close-btn" ng-click="mdirty.hide()"><ons-icon icon="times"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <!--<form>
        <input class="detail-input" placeholder="Unpublished" type="text" ng-model="list.shoplistUrl" ng-model-instant />
    </form>-->
    <div id="unpublished" ng-if="!list.shoplistUrl">
        <p>Press the PUBLISH button to add and update your list on the web. Then share it with your family and friends.</p>
    </div>
    
    <div id="published" ng-if="list.shoplistUrl">
        <img class="sharepreview" src="{{list.shareImage}}"/>
        <ons-list class="sharelist" style="background: none;">
            <ons-list-item>
                <ons-button class="web-btn" ng-click="ViewWebPage()"><ons-icon icon="globe"></ons-icon> Open In Browser</ons-button>
            </ons-list-item>
            <ons-list-item style="height:15px; min-height: 15px;"></ons-list-item>
            <ons-list-item>
                <ons-button class="tx-btn" ng-click="TxShare()"><ons-icon icon="comments-o"></ons-icon> Send Text Message</ons-button>
            </ons-list-item>
            <ons-list-item>
                <ons-button class="em-btn" ng-click="EmShare()"><ons-icon icon="envelope"></ons-icon> Send Email</ons-button>
            </ons-list-item>
            <!--<ons-list-item style="height:10px; min-height: 10px;"></ons-list-item>-->
            <ons-list-item>
                <ons-button class="fb-btn" ng-click="FbShare()"><ons-icon icon="facebook"></ons-icon> Share on Facebook</ons-button>
            </ons-list-item>
            <ons-list-item>
                <ons-button class="pn-btn" ng-click="PnShare()"><ons-icon icon="pinterest"></ons-icon> Share on Pinterest</ons-button>
            </ons-list-item>
            <ons-list-item>
                <ons-button class="tw-btn" ng-click="TwShare()"><ons-icon icon="twitter"></ons-icon> Share on Twitter</ons-button>
            </ons-list-item>
            <ons-list-item>
                <ons-button class="gp-btn" ng-click="GpShare()"><ons-icon icon="google-plus"></ons-icon> Share on Google+</ons-button>
            </ons-list-item>
        </ons-list>
    </div>
    
    <div class="help hshare" ng-if="!list.shoplistUrl">
        <!--<div class="toolbar">
            Name your list and add it to start.
        </div>-->
        <div class="footbar">
            Press the PUBLISH button to add and update your list on the web. Then share it with your family and friends. 
        </div>
    </div>
    
    
    <form class="foot_ctrl share_foot_ctrl">
    <ons-button ng-click="WarnXfer()" class="control-btn" ng-if="list.shoplistUrl"><ons-icon icon="upload"></ons-icon> Transfer List To Another Device</ons-button>
        <!--<h3></h3>-->
        <!--<ons-button class="publish-btn" ng-class="(list.shoplistUrl) ? '' : 'publish-btn-lg'" ng-click="DoPublish()" should-spin="{{publishStatus}}" disabled="{{publishStatus}}" animation="zoom-in"><span class="fa fa-cloud-upload fa-lg"></span><br/>Publish</ons-button>
        <ons-button class="theme-btn" ng-if="true" ng-click="PickTheme()"><span class="fa fa-image fa-lg"></span><br/> Theme</ons-button>
        <ons-button class="link-btn" ng-if="list.shoplistUrl" ng-click="ViewWebPage()"><span class="fa fa-share-square-o fa-lg"></span><br/>View</ons-button>-->
        <!--<ons-button class="close-btn" ng-click="app.navi.popPage()"><ons-icon icon="times"></ons-icon></ons-button>-->
    </form>

</ons-page>