<ons-page ng-controller="DevCtrl">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.navi.popPage()"><ons-icon icon="chevron-left"></ons-icon> Back</ons-toolbar-button> 
        </div>
        <div class="center">Dev</div>
        <div class="right">
            <!--<ons-toolbar-button ng-click="DeleteGrocery()" class="delete-btn"><ons-icon icon="trash-o"></ons-icon></ons-toolbar-button>-->
        </div>
    </ons-toolbar>
    
    <ons-button ng-click="AddJames()">Add James</ons-button>
    <ons-button ng-click="ClearDb()">Clear DB</ons-button>

</ons-page>