<ons-page ng-controller="InfoCtrl">

    <ons-toolbar>
        <div class="left">
            <!--<ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>-->
            <ons-toolbar-button ng-click="app.navi.popPage()"><ons-icon icon="chevron-left"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Info</div>
        <div class="right">
            <!--<ons-toolbar-button ng-click="DoDelete()" class="delete-btn"><ons-icon icon="trash-o"></ons-icon></ons-toolbar-button>-->
        </div>
    </ons-toolbar>
    <ons-list class="infolist">
        <ons-list-item>
            <!--<p>
                Listmas is a fun way to create holiday wish lists for yourself and loved ones. Add items to your list by taking a photograph, scanning a UPC barcode, or searching amazon.com. Items added via search or barcode are automatically linked to their amazon.com product page. When your list is ready, share it on the web with family and friends. Add more items and re-publish your list at any time.
            </p>
            <p>
                Listmas stores only information you enter in your list, it does not gather any personally identifiable information. Your lists are as private or public as you choose. Published lists receive a unique url which can be shared via email or social networks. Create a private list for a few family members, or have the world shower you with gifts. It’s up to you.
            </p>-->
            <p>
                Listmas was made with privacy in mind. There is no login, no email address required, no personal information is collected. Lists are managed entirely in your smartphone or tablet. When you publish your list to mylistmas.com, only the information you have entered in your list is sent. You receive a unique url to use however you wish. Share your list with family and friends or post it on social networks for the world to see.
            </p>
            <p>
                Listmas was created by Internet software developer Matthew Wilber. For more information, visit <a href="#" ng-click="ViewGZHomePage()" style="color:#173816;">greenzeta.com</a>
            </p>
        </ons-list-item>
    </ons-list>

    <form class="foot_ctrl">
        <ons-button class="save-btn wide-btn" ng-click="ViewGZPage()"><span class="zeta">&zeta;</span> Other GreenZeta Apps</ons-button>
        <!--<ons-button class="close-btn" ng-click="app.navi.popPage()"><ons-icon icon="times"></ons-icon></ons-button>-->
    </form>

</ons-page>
