<ons-page ng-controller="GroceryListCtrl">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.slidingMenu.setMainPage('lists.html', {closeMenu: true});"><ons-icon icon="chevron-left"></ons-icon> Back</ons-toolbar-button>
        </div>
        <div class="center">List</div>
        <div class="right">
            <ons-toolbar-button ng-click="app.slidingMenu.setMainPage('share.html', {closeMenu: true});"><ons-icon icon="share"></ons-icon>Share</ons-toolbar-button>
        </div>
    </ons-toolbar>
    
    <ons-list class="prodlist">
      <ons-list-item  ng-repeat="grocery in groceries" ng-controller="GroceryListing" ng-click="ShowDetails(grocery)" class="thumbnail grocery-listing">
            <span class="prodName" ng-class="(grocery.prodPrice>0) ? 'done-true' : ''">{{grocery.prodName}}</span>
            <div class="prodPhoto" style="background-image:url({{grocery.prodPhoto}});"></div><!--<img ng-src="{{grocery.prodPhoto}}"/>-->
      </ons-list-item>
    </ons-list>
    
    <form class="foot_ctrl">
        <h3>Add Item</h3>
        <ons-button class="capture-btn" ng-click="ScanBarcode()" icon="bars"><span class="fa fa-barcode fa-lg"></span>Barcode</ons-button>
        <ons-button class="capture-btn" ng-click="GetPhoto()"><span class="fa fa-camera fa-lg"></span>Photo</ons-button>
    </form>

</ons-page>