<ons-page ng-controller="ShareCtrl">

    <ons-toolbar>
        <div class="left">
            <!--<ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>-->
        </div>
        <div class="center">Share</div>
        <div class="right">
            <!--<ons-toolbar-button ng-click="DeleteGrocery()" class="delete-btn"><ons-icon icon="trash-o"></ons-icon></ons-toolbar-button>-->
        </div>
    </ons-toolbar>
    
    <ons-modal var="modal">
        <div class="dialog">
            <p>{{publishResultTxt}}</p>
            <ons-button class="wide-btn" onclick="modal.hide()"><ons-icon icon="check"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <form>
        <input class="detail-input" placeholder="Unpublished" type="text" ng-model="list.shoplistUrl" ng-model-instant />
    </form>
    <div id="unpublished" ng-if="!list.shoplistUrl">
        <p>Tap the button below to publish your list and share with family and friends.</p>
    </div>
    
    <div id="published" ng-if="list.shoplistUrl">
        <ons-button class="link-btn" ng-click="ViewWebPage()"><ons-icon icon="globe"></ons-icon> View In Browser</ons-button>
    </div>
    
    
    <form class="foot_ctrl">
        <h3></h3>
        <ons-button class="add-btn" ng-click="DoPublish()" should-spin="{{publishStatus}}" disabled="{{publishStatus}}" animation="zoom-in"><ons-icon icon="check"></ons-icon> Publish</ons-button>
        <ons-button class="close-btn" ng-click="app.navi.popPage()"><ons-icon icon="times"></ons-icon></ons-button>
    </form>

</ons-page>