<ons-page ng-controller="ShareCtrl">

    <ons-toolbar>
        <div class="left">
            <!--<ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>-->
            <ons-toolbar-button ng-click="app.navi.popPage()"><ons-icon icon="chevron-left"></ons-icon></ons-toolbar-button>  
        </div>
        <div class="center">Share</div>
        <div class="right">
            <!--<ons-toolbar-button ng-click="DeleteGrocery()" class="delete-btn"><ons-icon icon="trash-o"></ons-icon></ons-toolbar-button>-->
        </div>
    </ons-toolbar>
    
    <ons-modal var="pubresult">
        <div class="dialog">
            <p>{{publishResultTxt}}</p>
            <ons-button class="wide-btn" onclick="pubresult.hide()"><ons-icon icon="check"></ons-icon></ons-button>
        </div>
    </ons-modal>
    
    <!--<form>
        <input class="detail-input" placeholder="Unpublished" type="text" ng-model="list.shoplistUrl" ng-model-instant />
    </form>-->
    <div id="unpublished" ng-if="!list.shoplistUrl">
        <p>Press the PUBLISH button to add and update your list on the web. Then share it with your family and friends.</p>
    </div>
    
    <div id="published" ng-if="list.shoplistUrl">
        <img class="sharepreview" src="{{list.shareImage}}"/>
        <ons-list class="sharelist">
            <ons-list-item>
                <ons-button class="em-btn" ng-click="EmShare()"><ons-icon icon="envelope"></ons-icon> Share with email</ons-button>
            </ons-list-item>
            <ons-list-item>
                <ons-button class="fb-btn" ng-click="FbShare()"><ons-icon icon="facebook"></ons-icon> Share on Facebook</ons-button>
            </ons-list-item>
            <ons-list-item>
                <ons-button class="pn-btn" ng-click="PnShare()"><ons-icon icon="pinterest"></ons-icon> Share on Pinterest</ons-button>
            </ons-list-item>
            <ons-list-item>
                <ons-button class="tw-btn" ng-click="TwShare()"><ons-icon icon="twitter"></ons-icon> Share on Twitter</ons-button>
            </ons-list-item>
            <ons-list-item>
                <ons-button class="gp-btn" ng-click="GpShare()"><ons-icon icon="google-plus"></ons-icon> Share on Google+</ons-button>
            </ons-list-item>
        </ons-list>
    </div>
    
    <div class="help hshare" ng-if="!list.shoplistUrl">
        <!--<div class="toolbar">
            Name your list and add it to start.
        </div>-->
        <div class="footbar">
            Press the PUBLISH button to add and update your list on the web. Then share it with your family and friends. 
        </div>
    </div>
    
    
    <form class="foot_ctrl">
        <!--<h3></h3>-->
        <ons-button class="publish-btn" ng-click="DoPublish()" should-spin="{{publishStatus}}" disabled="{{publishStatus}}" animation="zoom-in"><ons-icon icon="check"></ons-icon> Publish</ons-button>
        <ons-button class="link-btn" ng-if="list.shoplistUrl" ng-click="ViewWebPage()"><ons-icon icon="globe"></ons-icon> View</ons-button>
        <!--<ons-button class="close-btn" ng-click="app.navi.popPage()"><ons-icon icon="times"></ons-icon></ons-button>-->
    </form>

</ons-page>